# Dictionary-

In [4]:
d={
    'name':"python",
    'fee':"8000",
    'duration':"2Months"
}
print(d)

{'name': 'python', 'fee': '8000', 'duration': '2Months'}

In [7]:
print(type(d))

<class 'dict'>

## get the any value from dictionary through key

In [8]:
h = d["fee"]
h

'8000'

## how to iterate mean all values you need to get through loop

In [9]:
for n in d:
    print(n)

name
fee
duration

In [10]:
for n in d:
    print(d[n])

python
8000
2Months

## Dictionary Function

## values get through get function

In [11]:
d= {
    "course":"python",
    "fee":"8000",
    "duration":"2Months"
}

In [12]:
c=d.get("fee")
c

'8000'

## keys()
1- return the keys from dictionary through loop

In [13]:
for a in d.keys():
    print(a)

name
fee
duration

## Values()
1- return the values from dictionary through loop

In [14]:
for a in d.values():
    print(a)

python
8000
2Months

## Item()
1-return the both keys and values in dictionary through loop

In [16]:
for a,b in d.items():
    print(a,b)

name python
fee 8000
duration 2Months

## del
1- del is not a function its a keyword.
2- del delete the data from dictionary

In [17]:
del d['fee']
print(d)

{'name': 'python', 'duration': '2Months'}

## pop()
1- pop also delete the data and also return the value which was deleted.

In [18]:
d.pop("duration")
d

{'name': 'python'}

In [19]:
print(d)

{'name': 'python'}

## dict()
1- through dic() create the dictionary
2- but must use the varaible name and its value

In [21]:
d = dict(name="python",fee="4000")
d

{'name': 'python', 'fee': '4000'}

## update()
1-update the value of dictionary

In [22]:
d = {
    'name':'python',
    'fees':8000,
    'duration':'2 Months'
}
print(d)

{'name': 'python', 'fees': 8000, 'duration': '2 Months'}

In [23]:
d.update({'fees':10000})
print(d)

{'name': 'python', 'fees': 10000, 'duration': '2 Months'}

## clear()
1- clear the data from dictionary

In [24]:
d.clear()
d

{}

## insert()
1- how to insert new elements in dictionary
2- if in dictionary have same name key avaible then will be updated through new key if not then insert.

In [27]:
d = {
    'name':'python',
    'fees':8000,
    'duration':'2 Months'
}
print(d)

{'name': 'python', 'fees': 8000, 'duration': '2 Months'}

In [28]:
d["desc"]="This is python"
print(d)

{'name': 'python', 'fees': 8000, 'duration': '2 Months', 'desc': 'This is python'}

In [30]:
d['fees']=10000
print(d)

{'name': 'python', 'fees': 10000, 'duration': '2 Months', 'desc': 'This is python'}

#Nested Dictionary
1-Nested Dictionary means putting a dictionary inside another dictionary.
2-Its a collection of dictionaries into one single dictionary.
3-dictionary used  for alot of data collection or all information you need together then you can used dictionary.
4-for example you need to collect any student all data,you have all students data so what we will do then we create dictionary 
-by name students and next we creats the nested dictionarie for each student by name and store all information each student.

In [34]:
course={
    'php':{'duration':'3 Months','fees':15000},
    'java':{'duration':'2 Months','fees':10000},
    'python':{'duration':'1 Months','fees':8000},
}
print(course)

{'php': {'duration': '3 Months', 'fees': 15000}, 'java': {'duration': '2 Months', 'fees': 10000}, 'python': {'duration': '1 Months', 'fees': 8000}}

In [35]:
print(course['php'])

{'duration': '3 Months', 'fees': 15000}

In [36]:
print(course['php']['fees'])

15000

In [37]:
## if you want all data get from dictionary then use the loop

In [38]:
for k,v in course.items():
    print(k,v)

php {'duration': '3 Months', 'fees': 15000}
java {'duration': '2 Months', 'fees': 10000}
python {'duration': '1 Months', 'fees': 8000}

In [39]:
for k,v in course.items():
    print(k,v['duration'],v['fees'])

php 3 Months 15000
java 2 Months 10000
python 1 Months 8000

## update the value of jave

In [40]:
course['java']['fees']=20000

In [41]:
print(course)

{'php': {'duration': '3 Months', 'fees': 15000}, 'java': {'duration': '2 Months', 'fees': 20000}, 'python': {'duration': '1 Months', 'fees': 8000}}