# For loop

In [25]:
range(5) # three things is important in range, 5 is a condition in range function its less than 5 start o to 4.and by default 1 is increment
# start = 0
# condition<5
# increment 1

range(0, 5)

In [13]:
for n in range(5):
    print("welcome to nahdi")

welcome to nahdi
welcome to nahdi
welcome to nahdi
welcome to nahdi
welcome to nahdi

In [14]:
for n in range(5):
    print(n)

0
1
2
3
4

In [15]:
for n in range(1,6):
    print(n)

1
2
3
4
5

In [16]:
for n in range(1,10,2):
    print(n)

1
3
5
7
9

In [17]:
for n in range(1,11):
    print(2*n)

2
4
6
8
10
12
14
16
18
20

In [18]:
for n in range(1,11):
    print("2*",n,"=",2*n)

2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18
2* 10 = 20

In [19]:
range(10)

range(0, 10)

In [20]:
for n in range(10,1,-1):
    print(n)

10
9
8
7
6
5
4
3
2

# While loop

In [21]:
i = 1
while i<=10:
    print("welcome to nahdi")
    i= i+1

welcome to nahdi
welcome to nahdi
welcome to nahdi
welcome to nahdi
welcome to nahdi
welcome to nahdi
welcome to nahdi
welcome to nahdi
welcome to nahdi
welcome to nahdi

In [22]:
i = 1
while i<=5:
    print(i,"welcome to nahdi")
    i = i+1

1 welcome to nahdi
2 welcome to nahdi
3 welcome to nahdi
4 welcome to nahdi
5 welcome to nahdi

# reverse while loop

In [23]:
a = 10
while a>=1:
    print(a,"hello")
    a = a-1

10 hello
9 hello
8 hello
7 hello
6 hello
5 hello
4 hello
3 hello
2 hello
1 hello