# TUPLE 
1- A tuple is a collection which is ordered inmutable working in sequence, iterating through tuple is faster than with list
2- define round bracket () parathesis.
3- inmutable not change the values in tuple
4- delete and update function cannot work in Tuple

# Tuple used function
-1 min()
-2 max()
-3 count()
-4 index()
-5 sun()

In [1]:
t=(10,20,30,40,50)
print(type(t))

<class 'tuple'>

In [2]:
t=(10)# if you pass one element in tuple its not a tuple its type is which you use type,in tuple more than one values use
type(t)

int

## accessing the values through indexing

In [4]:
t=(10,20,30,40,50)
n= t[3]
n

40

# Iterating Through a Tuple
## Using a for loop we can iterate through each item in a tuple.

In [5]:
l=len(t)

for a in range(l):
    print(a)

0
1
2
3
4

In [6]:
for a in range(l):
    print(t[a])

10
20
30
40
50

## other way

In [8]:
for a in t:
    print(a)

10
20
30
40
50

# Tuple function

In [11]:
t=(10,20,30,40,50,10)
m=min(t)
m

10

In [12]:
m=max(t)
m

50

In [14]:
c= t.count(10)
c

2

In [15]:
c=t.index(50)
c

4

In [16]:
s=sum(t)
s

160

In [17]:
s=sum(t,10)
s

170