In [1]:
import numpy as np

In [2]:
alist = [11,12,13,14]
arr1 = np.array(alist)
arr1

array([11, 12, 13, 14])

In [73]:
type(arr1)

numpy.ndarray

In [74]:
np.shape(arr1)

(4,)

In [75]:
np.size(arr1)

4

In [76]:
np.ndim(arr1)

1

In [77]:
arr1.dtype

dtype('int32')

In [78]:
arr1.dtype

dtype('int32')

In [79]:
arr2d = np.array([[12,22,24],[44,55,77]])
arr2d

array([[12, 22, 24],
       [44, 55, 77]])

In [80]:
np.shape(arr2d)

(2, 3)

In [81]:
testArr = np.array([1,2,3,4,5.5])
testArr

array([1. , 2. , 3. , 4. , 5.5])

In [82]:
a = np.array([[100]])

np.ndim(a)

2

In [83]:
np.array(range(10))

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [84]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [85]:
np.arange(0,10,2)

array([0, 2, 4, 6, 8])

In [86]:
np.arange(10, 0, -2)

array([10,  8,  6,  4,  2])

In [87]:
np.linspace(0,10,20)

array([ 0.        ,  0.52631579,  1.05263158,  1.57894737,  2.10526316,
        2.63157895,  3.15789474,  3.68421053,  4.21052632,  4.73684211,
        5.26315789,  5.78947368,  6.31578947,  6.84210526,  7.36842105,
        7.89473684,  8.42105263,  8.94736842,  9.47368421, 10.        ])

# Expicitly Convert/Cast Data type of ndarray:

In [88]:
int_arr = np.array([100, 200, 300, 400, 500])
int_arr
int_arr.dtype

dtype('int32')

In [89]:
float_arr = int_arr.astype(np.float)
float_arr

array([100., 200., 300., 400., 500.])

In [90]:
float_arr = int_arr.astype("float32")
float_arr

array([100., 200., 300., 400., 500.], dtype=float32)

In [91]:
float_arr.dtype

dtype('float32')

In [92]:
int_arr = float_arr.astype(np.int)
int_arr

array([100, 200, 300, 400, 500])

In [93]:
float_arr = np.array([2.4, 6.2, 3.111,0.333])
float_arr

array([2.4  , 6.2  , 3.111, 0.333])

In [94]:
int_arr = float_arr.astype("int64")
int_arr

array([2, 6, 3, 0], dtype=int64)

In [95]:
int_arr.dtype

dtype('int64')

In [96]:
a2 = np.arange(10, 20)
a2

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [97]:
a2[4]

14

In [98]:
arr2d = np.array([[1,2,3,4,5,6,],[11,22,33,44,66,55],[22,33,44,55,66,77]])
arr2d

array([[ 1,  2,  3,  4,  5,  6],
       [11, 22, 33, 44, 66, 55],
       [22, 33, 44, 55, 66, 77]])

In [99]:
arr1d = np.arange(20)
arr1d

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [100]:
np.shape(arr1d)

(20,)

In [101]:
arr2d = arr1d.reshape(4,5)
arr2d

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [102]:
arr2d = np.arange(20).reshape(4,5)
arr2d

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [103]:
arr2d1 = np.array([[1,3,4],[5,6,7],[6,7,8]])
arr2d1

array([[1, 3, 4],
       [5, 6, 7],
       [6, 7, 8]])

In [104]:
arr1d = np.arange(1,9)
arr1d

array([1, 2, 3, 4, 5, 6, 7, 8])

In [105]:
np.size(arr1d)

8

In [106]:
d2= np.arange(40).reshape(8,5)
d2

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34],
       [35, 36, 37, 38, 39]])

In [107]:
d3 = d2.reshape(2,4,5)
d3

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19]],

       [[20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34],
        [35, 36, 37, 38, 39]]])

In [108]:
d3 = np.arange(40).reshape(4,5,2)
d3

array([[[ 0,  1],
        [ 2,  3],
        [ 4,  5],
        [ 6,  7],
        [ 8,  9]],

       [[10, 11],
        [12, 13],
        [14, 15],
        [16, 17],
        [18, 19]],

       [[20, 21],
        [22, 23],
        [24, 25],
        [26, 27],
        [28, 29]],

       [[30, 31],
        [32, 33],
        [34, 35],
        [36, 37],
        [38, 39]]])

In [109]:
np.size(d3,0)

4

In [110]:
np.size(arr1d,0)

8

In [111]:
np.size(arr2d,1)

5

In [112]:
arr1 = arr2d.reshape(20)
arr1

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [114]:
arr2d = np.arange(64).reshape(8,8)
arr2d

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29, 30, 31],
       [32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47],
       [48, 49, 50, 51, 52, 53, 54, 55],
       [56, 57, 58, 59, 60, 61, 62, 63]])

In [115]:
arr3 = arr2d.reshape(4,4,4)
arr3

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11],
        [12, 13, 14, 15]],

       [[16, 17, 18, 19],
        [20, 21, 22, 23],
        [24, 25, 26, 27],
        [28, 29, 30, 31]],

       [[32, 33, 34, 35],
        [36, 37, 38, 39],
        [40, 41, 42, 43],
        [44, 45, 46, 47]],

       [[48, 49, 50, 51],
        [52, 53, 54, 55],
        [56, 57, 58, 59],
        [60, 61, 62, 63]]])

In [116]:
raveled_arr1d = arr2d.ravel()
raveled_arr1d

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63])

In [ ]:
# np.ravel() and np.reashape()